In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Prediction.csv")
data

,Month_with_date,Counting_from_april,Confirmed_Cases,Recovered_Cases,Deceased_Cases
0,April-1-2020,1,2059,169,53
1,April-2-2020,2,2545,191,69
2,April-3-2020,3,3105,230,83
3,April-4-2020,4,3684,286,96
4,April-5-2020,5,4293,329,118
5,April-6-2020,6,4777,394,134
6,April-7-2020,7,5350,469,161
7,April-8-2020,8,5915,565,181
8,April-9-2020,9,6728,635,227
9,April-10-2020,10,7599,786,249
10,April-11-2020,11,8453,972,290
11,April-12-2020,12,9211,1086,332
12,April-13-2020,13,10454,1198,359
13,April-14-2020,14,11485,1365,396
14,April-15-2020,15,12371,1509,423
15,April-16-2020,16,13432,1767,449
16,April-17-2020,17,14354,2040,487
17,April-18-2020,18,15725,2466,522
18,April-19-2020,19,17305,2854,560
19,April-20-2020,20,18544,3273,593
20,April-21-2020,21,20081,3967,646
21,April-22-2020,22,21373,4370,682
22,April-23-2020,23,23040,5012,722
23,April-24-2020,24,24448,5496,781
24,April-25-2020,25,26238,5938,825
25,April-26-2020,26,27890,6523,881
26,April-27-2020,27,29458,7103,939
27,April-28-2020,28,31360,7739,1008
28,April-29-2020,29,33065,8429,1079
29,April-30-2020,30,34866,9059,1154
30,May-1-2020,31,37262,10021,1231
31,May-2-2020,32,39826,10852,1323
32,May-3-2020,33,42778,11763,1463
33,May-4-2020,34,46434,12845,1566
34,April-5-2020,35,49405,14140,1694
35,May-6-2020,36,53007,15301,1785
36,May-7-2020,37,56351,16776,1889
37,May-8-2020,38,59690,17887,1986
38,May-9-2020,39,62865,19301,2101
39,May-10-2020,40,67176,20970,2213
40,May-11-2020,41,70768,22549,2294
41,May-12-2020,42,74330,24454,2414
42,May-13-2020,43,78056,26417,2551
43,May-14-2020,44,82047,28011,2648
44,May-15-2020,45,85855,30245,2752
45,May-16-2020,46,90649,34257,2872
46,May-17-2020,47,95698,36795,3024
47,May-18-2020,48,100326,39277,3155
48,May-19-2020,49,106480,42309,3301
49,May-20-2020,50,112200,45422,3435
50,May-21-2020,51,118223,48553,3583
51,May-22-2020,52,124759,51833,3725
52,May-23-2020,53,131422,54409,3867
53,May-24-2020,54,138535,57694,4023
54,May-25-2020,55,144949,60706,4173
55,May-26-2020,56,150815,64277,4346

In [3]:
data.groupby('Counting_from_april')['Confirmed_Cases'].mean()

Counting_from_april
1       2059
2       2545
3       3105
4       3684
5       4293
6       4777
7       5350
8       5915
9       6728
10      7599
11      8453
12      9211
13     10454
14     11485
15     12371
16     13432
17     14354
18     15725
19     17305
20     18544
21     20081
22     21373
23     23040
24     24448
25     26238
26     27890
27     29458
28     31360
29     33065
30     34866
31     37262
32     39826
33     42778
34     46434
35     49405
36     53007
37     56351
38     59690
39     62865
40     67176
41     70768
42     74330
43     78056
44     82047
45     85855
46     90649
47     95698
48    100326
49    106480
50    112200
51    118223
52    124759
53    131422
54    138535
55    144949
56    150815
Name: Confirmed_Cases, dtype: int64

In [4]:
 data.groupby(['Counting_from_april','Month_with_date'])['Confirmed_Cases'].mean()

Counting_from_april  Month_with_date
1                    April-1-2020         2059
2                    April-2-2020         2545
3                    April-3-2020         3105
4                    April-4-2020         3684
5                    April-5-2020         4293
6                    April-6-2020         4777
7                    April-7-2020         5350
8                    April-8-2020         5915
9                    April-9-2020         6728
10                   April-10-2020        7599
11                   April-11-2020        8453
12                   April-12-2020        9211
13                   April-13-2020       10454
14                   April-14-2020       11485
15                   April-15-2020       12371
16                   April-16-2020       13432
17                   April-17-2020       14354
18                   April-18-2020       15725
19                   April-19-2020       17305
20                   April-20-2020       18544
21                   April-21-2020       20081
22                   April-22-2020       21373
23                   April-23-2020       23040
24                   April-24-2020       24448
25                   April-25-2020       26238
26                   April-26-2020       27890
27                   April-27-2020       29458
28                   April-28-2020       31360
29                   April-29-2020       33065
30                   April-30-2020       34866
31                   May-1-2020          37262
32                   May-2-2020          39826
33                   May-3-2020          42778
34                   May-4-2020          46434
35                   April-5-2020        49405
36                   May-6-2020          53007
37                   May-7-2020          56351
38                   May-8-2020          59690
39                   May-9-2020          62865
40                   May-10-2020         67176
41                   May-11-2020         70768
42                   May-12-2020         74330
43                   May-13-2020         78056
44                   May-14-2020         82047
45                   May-15-2020         85855
46                   May-16-2020         90649
47                   May-17-2020         95698
48                   May-18-2020        100326
49                   May-19-2020        106480
50                   May-20-2020        112200
51                   May-21-2020        118223
52                   May-22-2020        124759
53                   May-23-2020        131422
54                   May-24-2020        138535
55                   May-25-2020        144949
56                   May-26-2020        150815
Name: Confirmed_Cases, dtype: int64

In [5]:
dff= {
    "Name":['Anshu','Harsh','Ginni'],
    "Roll_no.": [6,16,17],
    "Location": ['Nangloi','peeragadhi','Narela']
}

In [6]:
dfff = {
    "Name":['Ishika','Jyoti','Ginni'],
    "Roll_no.": [6,16,18],
    "Location": ['Nangloi','peeragadhi','Narela']
}

In [7]:
time_take= pd.date_range('01/01/2020',periods=200000,freq='50s')

In [8]:
df= pd.DataFrame()

In [9]:
df["Datetime"]=time_take

In [10]:
df

                  Datetime
0      2020-01-01 00:00:00
1      2020-01-01 00:00:50
2      2020-01-01 00:01:40
3      2020-01-01 00:02:30
4      2020-01-01 00:03:20
...                    ...
199995 2020-04-25 17:42:30
199996 2020-04-25 17:43:20
199997 2020-04-25 17:44:10
199998 2020-04-25 17:45:00
199999 2020-04-25 17:45:50

[200000 rows x 1 columns]

In [11]:
df["Year"]=df.Datetime.dt.year

In [12]:
df["Month"]=df.Datetime.dt.month

In [13]:
df["Day"]=df.Datetime.dt.day

In [14]:
df["Weekday_name"]=df.Datetime.dt.weekday_name

In [15]:
df["Hour"]=df.Datetime.dt.hour

In [16]:
df["Minute"]=df.Datetime.dt.minute

In [17]:
df["Second"]=df.Datetime.dt.second

In [18]:
df["Microsecond"]=df.Datetime.dt.microsecond

In [19]:
df

,Datetime,Year,Month,Day,Weekday_name,Hour,Minute,Second,Microsecond
0,2020-01-01 00:00:00,2020,1,1,Wednesday,0,0,0,0
1,2020-01-01 00:00:50,2020,1,1,Wednesday,0,0,50,0
2,2020-01-01 00:01:40,2020,1,1,Wednesday,0,1,40,0
3,2020-01-01 00:02:30,2020,1,1,Wednesday,0,2,30,0
4,2020-01-01 00:03:20,2020,1,1,Wednesday,0,3,20,0
...,...,...,...,...,...,...,...,...,...
199995,2020-04-25 17:42:30,2020,4,25,Saturday,17,42,30,0
199996,2020-04-25 17:43:20,2020,4,25,Saturday,17,43,20,0
199997,2020-04-25 17:44:10,2020,4,25,Saturday,17,44,10,0
199998,2020-04-25 17:45:00,2020,4,25,Saturday,17,45,0,0
199999,2020-04-25 17:45:50,2020,4,25,Saturday,17,45,50,0

In [20]:
data1= pd.concat([data,data],axis=0)

In [23]:
data1

,Month_with_date,Counting_from_april,Confirmed_Cases,Recovered_Cases,Deceased_Cases
0,April-1-2020,1,2059,169,53
1,April-2-2020,2,2545,191,69
2,April-3-2020,3,3105,230,83
3,April-4-2020,4,3684,286,96
4,April-5-2020,5,4293,329,118
...,...,...,...,...,...
51,May-22-2020,52,124759,51833,3725
52,May-23-2020,53,131422,54409,3867
53,May-24-2020,54,138535,57694,4023
54,May-25-2020,55,144949,60706,4173
55,May-26-2020,56,150815,64277,4346

In [24]:
data1= pd.merge(data,data)

In [25]:
data1

,Month_with_date,Counting_from_april,Confirmed_Cases,Recovered_Cases,Deceased_Cases
0,April-1-2020,1,2059,169,53
1,April-2-2020,2,2545,191,69
2,April-3-2020,3,3105,230,83
3,April-4-2020,4,3684,286,96
4,April-5-2020,5,4293,329,118
5,April-6-2020,6,4777,394,134
6,April-7-2020,7,5350,469,161
7,April-8-2020,8,5915,565,181
8,April-9-2020,9,6728,635,227
9,April-10-2020,10,7599,786,249
10,April-11-2020,11,8453,972,290
11,April-12-2020,12,9211,1086,332
12,April-13-2020,13,10454,1198,359
13,April-14-2020,14,11485,1365,396
14,April-15-2020,15,12371,1509,423
15,April-16-2020,16,13432,1767,449
16,April-17-2020,17,14354,2040,487
17,April-18-2020,18,15725,2466,522
18,April-19-2020,19,17305,2854,560
19,April-20-2020,20,18544,3273,593
20,April-21-2020,21,20081,3967,646
21,April-22-2020,22,21373,4370,682
22,April-23-2020,23,23040,5012,722
23,April-24-2020,24,24448,5496,781
24,April-25-2020,25,26238,5938,825
25,April-26-2020,26,27890,6523,881
26,April-27-2020,27,29458,7103,939
27,April-28-2020,28,31360,7739,1008
28,April-29-2020,29,33065,8429,1079
29,April-30-2020,30,34866,9059,1154
30,May-1-2020,31,37262,10021,1231
31,May-2-2020,32,39826,10852,1323
32,May-3-2020,33,42778,11763,1463
33,May-4-2020,34,46434,12845,1566
34,April-5-2020,35,49405,14140,1694
35,May-6-2020,36,53007,15301,1785
36,May-7-2020,37,56351,16776,1889
37,May-8-2020,38,59690,17887,1986
38,May-9-2020,39,62865,19301,2101
39,May-10-2020,40,67176,20970,2213
40,May-11-2020,41,70768,22549,2294
41,May-12-2020,42,74330,24454,2414
42,May-13-2020,43,78056,26417,2551
43,May-14-2020,44,82047,28011,2648
44,May-15-2020,45,85855,30245,2752
45,May-16-2020,46,90649,34257,2872
46,May-17-2020,47,95698,36795,3024
47,May-18-2020,48,100326,39277,3155
48,May-19-2020,49,106480,42309,3301
49,May-20-2020,50,112200,45422,3435
50,May-21-2020,51,118223,48553,3583
51,May-22-2020,52,124759,51833,3725
52,May-23-2020,53,131422,54409,3867
53,May-24-2020,54,138535,57694,4023
54,May-25-2020,55,144949,60706,4173
55,May-26-2020,56,150815,64277,4346